<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% if not app.user %}
        <li><a href="{{ path('security_login') }}">login</a></li>
    {% else %}
        <li><a href="{{ path('security_logout') }}">logout</a></li>
    {% endif %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
